<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" >
  <h2>Get Account</h2>
  <form action="{% url 'new_user' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.login.id_for_label }}">Login:</label>
      {{ form.login }}
      {{ form.login.errors }}
    </div>
    <div class="form-group">
      <label for="{{ form.email.id_for_label }}">Email:</label>
      {{ form.email }}
      {{ form.email.errors }}
    </div>
    <div class="form-group">
      <label for="{{ form.password.id_for_label }}">Password:</label>
      {{ form.password }}
      {{ form.password.errors }}
    </div>
    <div class="form-group">
      <label for="{{ form.rpassword.id_for_label }}">Repeat password:</label>
      {{ form.rpassword }}
      {{ form.rpassword.errors }}
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Accept <a href="" style="color: rgb(41, 41, 41);">privacy</a></label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="reset" class="btn btn-default">Reset</button>
  </form>
</div>

</body>
</html>
