<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home_n' %}">MySite</a>
    </div>
    <ul class="nav navbar-nav">
      {% if active_page == "home" %}
      <li class="active"><a href="{% url 'home_n' %}">Home</a></li>
      {% else %}
      <li><a href="{% url 'home_n' %}">Home</a></li>
      {% endif %}
      {% if not user_authenticated %}
      {% if active_page == "sign_in" %}
      <li class="active"><a href="{% url 'sign_in_n' %}">Sing in</a></li>
      {% else %}
      <li><a href="{% url 'sign_in_n' %}">Sing in</a></li>
      {% endif %}
      {% if active_page == "sign_up" %}
      <li class="active"><a href="{% url 'sign_up_n' %}">Sign up</a></li>
      {% else %}
      <li><a href="{% url 'sign_up_n' %}">Sign up</a></li>
      {% endif %}
      {% if active_page == "reset_password" %}
      <li class="active"><a href="{% url 'reset_password_n' %}">Forgot password</a></li>
      {% else %}
      <li><a href="{% url 'reset_password_n' %}">Forgot password</a></li>
      {% endif %}
      {% endif %}
      {% if user_authenticated %}
      {% if active_page == "change_password" %}
      <li class="active"><a href="{% url 'change_password_n' %}">Change password</a></li>
      {% else %}
      <li><a href="{% url 'change_password_n' %}">Change password</a></li>
      {% endif %}
      <li class="float-right"><a href="{% url 'logout_n' %}">Logout</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

{% block content %}

{% endblock %}

</body>
</html>
