{% extends "base.html" %}

{% block content %}
    <h2>Welcome to LinkHub</h2>

    {% if show %}
      {% include "introductory_info.html" %}
    {% endif %}

    {% if user_authenticated %}
      <div id="show_introduction">
        {% if show %}
          <div style="margin-bottom: 10px;">
            <input @click="show_intro" type="checkbox" name="remember"><span> Don't show introductory information anymore</divspan>
          </div>
        {% else %}
          <div style="margin-bottom: 10px;">
            <input @click="show_intro" type="checkbox" name="remember"><span> Show introductory information</span>
          </div>
        {% endif %}
      
        <div style="margin-bottom: 40px;">
          <a href="{% url 'show_playlists_n' %}"><button type="button" class="btn btn-primary active" style="margin: 1px;">My playlists</button></a>
          <a href="{% url 'add_new_playlist_n' %}"><button type="button" name="request_of" class="btn btn-primary active" style="margin: 1px;">Add new playlist</button></a>
        </div>
      </div>
    {% else %}
      <div style="margin-bottom: 40px;">
        <button type="button" class="btn btn-primary disabled">My playlists</button>
        <button type="button" class="btn btn-primary disabled">Add new playlist</button>
      </div>
    {% endif %}


  {% load static %}
  <script>
    var url = "{% url 'show_intro_ajax_n' %}";
  </script>
  <script src="{% static '/js/home.js' %}"></script>
{% endblock %}