{% extends "base.html" %}


{% block content %}


  {% if target == "main" %}
  <h3>Welcome to LinkOl</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi tristique senectus et netus et malesuada fames. Velit dignissim sodales ut eu. Ut morbi tincidunt augue interdum velit. Ut tellus elementum sagittis vitae et leo duis ut. Vitae aliquet nec ullamcorper sit. Volutpat diam ut venenatis tellus in. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Ac tortor dignissim convallis aenean et tortor. Id aliquet risus feugiat in. Convallis aenean et tortor at risus. Vitae tempus quam pellentesque nec nam aliquam sem. Odio morbi quis commodo odio aenean sed. Turpis cursus in hac habitasse platea dictumst.
    Id cursus metus aliquam eleifend mi in. In cursus turpis massa tincidunt dui ut. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Morbi leo urna molestie at elementum. Tellus molestie nunc non blandit massa enim nec dui. Sollicitudin ac orci phasellus egestas tellus rutrum. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Et malesuada fames ac turpis egestas integer eget aliquet nibh. Convallis aenean et tortor at risus viverra adipiscing at. Ultricies mi eget mauris pharetra et. Accumsan in nisl nisi scelerisque eu ultrices vitae. Sit amet facilisis magna etiam tempor orci eu lobortis elementum. A diam sollicitudin tempor id eu nisl nunc mi. In aliquam sem fringilla ut morbi tincidunt augue interdum velit.</p>

  <h3>Manual</h3>
  <p>Elementum facilisis leo vel fringilla est ullamcorper eget nulla. Vestibulum mattis ullamcorper velit sed ullamcorper morbi. Vestibulum sed arcu non odio euismod lacinia. Ac orci phasellus egestas tellus rutrum tellus pellentesque eu. Pretium viverra suspendisse potenti nullam. Sem et tortor consequat id porta nibh venenatis. Eu facilisis sed odio morbi quis commodo. Interdum posuere lorem ipsum dolor. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel. Sit amet facilisis magna etiam tempor orci. Nulla pellentesque dignissim enim sit amet. Ut faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Sit amet massa vitae tortor condimentum lacinia. Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Pretium lectus quam id leo in vitae turpis massa. Sed odio morbi quis commodo odio aenean.
    Eu turpis egestas pretium aenean pharetra. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc consequat. Amet commodo nulla facilisi nullam vehicula. Lorem dolor sed viverra ipsum nunc aliquet bibendum. At urna condimentum mattis pellentesque id nibh tortor. Faucibus nisl tincidunt eget nullam non nisi est. Sed risus ultricies tristique nulla aliquet enim tortor at. Sit amet cursus sit amet dictum. Quis eleifend quam adipiscing vitae proin. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Habitasse platea dictumst quisque sagittis. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Aliquam ultrices sagittis orci a scelerisque purus semper eget duis. Viverra nam libero justo laoreet sit amet cursus. In hac habitasse platea dictumst vestibulum. Leo in vitae turpis massa sed elementum. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Condimentum mattis pellentesque id nibh.
  </p>
  
  <h3>Privacy</h3>
  <p>Nibh praesent tristique magna sit amet purus gravida. Mauris in aliquam sem fringilla. Elementum sagittis vitae et leo duis ut. Vitae et leo duis ut diam quam nulla porttitor. Facilisis volutpat est velit egestas. Fringilla ut morbi tincidunt augue interdum velit euismod. Adipiscing elit pellentesque habitant morbi tristique senectus. Posuere urna nec tincidunt praesent semper feugiat nibh sed. Pharetra pharetra massa massa ultricies mi. Egestas dui id ornare arcu odio ut sem nulla pharetra. Nunc mattis enim ut tellus elementum sagittis vitae et leo.</p>
  
  {% if user_authenticated %}
    <div class="checkbox">
    <label><input type="checkbox" name="remember"> Don't show introductory information</label>
  </div>
  <div style="margin-bottom: 40px;">
    <a href="{% url 'home_target_n' 'personal_playlists'  %}"><button type="button" class="btn btn-primary active" style="margin: 1px;">My playlists</button></a>
    <a href="{% url 'add_new_playlist_n' %}"><button type="button" name="request_of" class="btn btn-primary active" style="margin: 1px;">Add new playlist</button></a>
  </div>

  {% else %}
  <div style="margin-bottom: 40px;">
  <button type="button" class="btn btn-primary disabled">My playlists</button>
  <button type="button" class="btn btn-primary disabled">Add new playlist</button>
  </div>
  {% endif %}


  {% else %}


  <h3>{{ page_header }}</h3>
  {% if not playlists == "List is empty" %}
  {% for playlist in playlists %}

  <script type="text/javascript">
    $(document).ready(function () {
        $("#like" + "{{ playlist.id }}").click(function() {
            $.ajax({
                type: 'GET',
                async: true,
                url: "{% url 'like_ajax_n' playlist.id %}",
                success: function(data) {
                    document.getElementById('like' + '{{ playlist.id }}' + '_amount').innerHTML=data['likes_amount'];
                    document.getElementById('dislike' + '{{ playlist.id }}' + '_amount').innerHTML=data['dislikes_amount'];
                },
                dataType: 'json',
            });
        });
        $("#dislike" + "{{ playlist.id }}").click(function() {
            $.ajax({
                type: 'GET',
                async: true,
                url: "{% url 'dislike_ajax_n' playlist.id %}",
                success: function(data) {
                    document.getElementById('like' + '{{ playlist.id }}' + '_amount').innerHTML=data['likes_amount'];
                    document.getElementById('dislike' + '{{ playlist.id }}' + '_amount').innerHTML=data['dislikes_amount'];
                },
                dataType: 'json',
            });
        });
    });
  </script>

  {% if not playlist.is_private or user.id == playlist.author_id %}
  <div class="well well-lg" style="padding-bottom: 0px;">

    {% if playlist.author_id == user.id %}
      <div class="pull-right"><a href="{% url 'home_target_n' 'main' %}">edit</a></div>
      <div class="pull-right" style="padding-right: 15px;"><a href="{% url 'add_new_link_n' playlist.id %}">add link</a></div>
    {% else %}
      <div class="pull-right"><img src="https://img.icons8.com/fluent/23/000000/star.png"/></div>
    {% endif %}

    <h3 style="margin-top: 0px;">{{ playlist.title }}</h3>

    <p>{{ playlist.description }}</p>

        <div class="panel-footer" style="border: none; padding-left: 0px; padding-right: 0px;">
          <a href="{% url 'show_playlist_n' playlist.id %}">Show >>></a>
          <span class="pull-right">
              {% if playlist.is_private %}
              <img src="https://img.icons8.com/metro/18/000000/lock-2.png"/>
              {% else %}
              <i id="like{{ playlist.id }}" class="glyphicon glyphicon-thumbs-up"></i> <div id="like{{ playlist.id }}_amount">{{ playlist.likes }}</div>
              <i id="dislike{{ playlist.id }}"  class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike{{ playlist.id }}_amount">{{ playlist.dislikes }}</div>
              {% endif %}
          </span>
        </div>
  </div>
  {% endif %}
  {% endfor %}

  {% endif %}


  {% endif %}
{% endblock %}