{% load i18n %}

<div class="container-fluid">
   
    <h3 class="h3" id="head_banner">{% trans "Change Password" %}</h3>

    <form method="POST" action="{% url 'account_change_password' %}" class="container-fluid text-center" id="change_password_form">
        {% csrf_token %}
        {{ form.oldpassword.label }}
        {{ form.oldpassword }}<br><br>
        {{ form.password1.label }}
        {{ form.password1 }}<br><br>
        {{ form.password2.label }}
        {{ form.password2 }}<br><br>
        <button class="btn btn-outline-info" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
 </div>