{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <h3 class="h3" id="head_banner">{% trans "Reset Password" %}</h3>

    <h5 class="h5" id="head_banner">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</h5>


    <form method="POST" action="" id="change_password_form">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
          <br>
          <div class="alert alert-danger">
            {{field.errors}}
          </div>
          {% endif %}
        </div>
      {% endfor %}
    <button class="btn btn-default" type="submit" name="action">{% trans "Send Email" %}</button>
    </form>
{% endblock %} 