<div>
    <style>
      p {
      text-indent: 20px;
      margin: 5px;
      }
    </style>
    <p>
      <p>
      This site is just your own database for useful links. It enables you to storage them into playlists, so that
      you could easly find whatever you want. If you have problems with billions bookmarks in your browser, this decision
      is just for you. Just get account and go ahead. If you are going to learn something new into Internet, it seems
      you will get many bookmarks of appropriate links. To make it easy, just create new playlist for current topic,
      and put all links inside it. But first of all, try to find already existing playlists by key words of the  desirable topic.
      You can find some useful playlists and you are able to see them rating, it'll prompt your opinion about this.
      If some playlists made you interested, you can add them to favourites by clicking star. Then you will see them into
      'My playlists' category.
      </p>
      <p>
      Sure you can share with your playlists, just coping address from address line. But since you made your playlist private,
      no one is able to reach this address. To share private playlist, click Show>>> on the playlist bar and click chain, then 
      right link will be copied to your buffer exchange(note that this is able only for private playlists). After clicking one 
      more time, old link will be deleted. Note, that only one sharing link is available in the moment.
      </p>
      <p>
      Also you can track all your links relevance after checking checkbox in links settings or playlists settings. If status code
      of the link chanched you will recieve a message on your mail, that's why email field is required during signing up. More details
      about using this site and all subtleties will be discussed in Manual.
      </p>
    </p>
    <h3>Manual</h3>
    <p>
      If you are going just do searching through existing playlists, it's not necessary to get own account. But it's required in case you
      want to create your own playlists and to add new links into them, or just rate existing playlists. Note, that during signing up,
      email address is required, as we are going to keep in touch with users, when they wish to check relevance of their links.
      That's why we even include email verification, as you might have noticed. If you signed in with Google, that's mean that you'll
      recieve emails onto your gmail. Also email is required during procedure of resetting forgotten password.
    </p>
    <p>
      After signing in you are able to hide all this introductory information just by checking checkbox in the bottom of this page and
      refreshing. Also signing in helps you to activate buttons in the bottom of page, which redirect you to functional pages on the site.
      Actually, there are several ways to do anything almost for all functionality. You can find 'My playlists' category in the bottom of
      introductory page and in the navbar after signing in.
    </p>
    <p>
      Interactive design helps you to see how your playlist's bar will be look, just during creating. After creating playlist, you will be able
      to change everything. Notice, as long as you don't make your playlist private, anyone can access it. If you wish
      to edit something in playlist or add new links into it, click edit and you will be redirected to the appropriate page. Notice, that here
      you can remove the playlist. But don't worry, it won't be deleted just in moment, but it will in some time. You can track, that after removing,
      opacity of your playlist's bar in playlists list goes down. So that's mean, that in some time, it's going to vanish at all.
    </p>
    <h3 id="privacy">Privacy</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Id ornare arcu odio ut sem nulla. Ut faucibus pulvinar elementum integer enim neque. Volutpat sed cras ornare arcu dui vivamus 
      arcu. Ipsum faucibus vitae aliquet nec ullamcorper sit. Viverra accumsan in nisl nisi. Enim nunc faucibus a pellentesque sit amet 
      porttitor eget. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Amet est placerat in egestas erat 
      imperdiet sed euismod. Placerat in egestas erat imperdiet sed. Eget est lorem ipsum dolor sit amet. Diam sollicitudin tempor id eu 
      nisl. Odio aenean sed adipiscing diam donec adipiscing tristique. Nullam vehicula ipsum a arcu cursus vitae congue. Fermentum iaculis 
      eu non diam. Lectus quam id leo in vitae turpis massa. Faucibus interdum posuere lorem ipsum dolor.
    </p>
    <p>
      Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus et. Molestie ac feugiat sed lectus. Lobortis elementum 
      nibh tellus molestie nunc non blandit. Adipiscing diam donec adipiscing tristique. Leo vel fringilla est ullamcorper eget. Quam 
      vulputate dignissim suspendisse in est ante in. Pellentesque eu tincidunt tortor aliquam nulla facilisi. Elementum pulvinar etiam 
      non quam lacus suspendisse faucibus. Tellus in metus vulputate eu scelerisque felis imperdiet. Ac ut consequat semper viverra nam 
      libero justo. In dictum non consectetur a. Ut venenatis tellus in metus vulputate eu.
      Purus ut faucibus pulvinar elementum integer enim. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Tellus elementum 
      sagittis vitae et. Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Amet mauris commodo quis imperdiet massa tincidunt nunc. 
      Netus et malesuada fames ac. Malesuada bibendum arcu vitae elementum curabitur vitae. Enim diam vulputate ut pharetra. Quam id leo in 
      vitae turpis massa sed elementum. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Convallis tellus id interdum velit 
      laoreet id donec ultrices tincidunt. Morbi tincidunt augue interdum velit euismod in pellentesque massa placerat. Sollicitudin aliquam 
      ultrices sagittis orci a scelerisque purus semper eget. Tellus molestie nunc non blandit massa enim nec dui nunc. Viverra adipiscing at 
      in tellus integer feugiat scelerisque varius morbi. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Vivamus arcu 
      felis bibendum ut tristique et egestas quis. Euismod quis viverra nibh cras.
    </p>
    <p>
      Vestibulum morbi blandit cursus risus at ultrices. Duis at tellus at urna condimentum mattis. Non arcu risus quis varius quam. 
      Gravida arcu ac tortor dignissim convallis aenean et. Eu mi bibendum neque egestas congue quisque egestas. Non pulvinar neque laoreet 
      suspendisse interdum consectetur libero. Risus feugiat in ante metus dictum at tempor commodo ullamcorper. Dictum fusce ut placerat 
      orci nulla pellentesque. Facilisis mauris sit amet massa vitae tortor. Sapien pellentesque habitant morbi tristique senectus et netus. 
      Placerat vestibulum lectus mauris ultrices eros in cursus. Tincidunt ornare massa eget egestas purus. Dictum varius duis at consectetur 
      lorem donec. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Integer feugiat scelerisque varius morbi enim.
    </p>
</div>