{% extends "base.html" %}


{% block content %}
  <h2>Get Account</h2>
  <form action="{% url 'sign_up_n' %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
        <br>
        {% for error in field.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    {% endfor %}

    <div class="checkbox">
      <label><input required type="checkbox" name="remember"> Accept <a href="{% url 'home_n' %}#privacy" style="color: rgb(41, 41, 41);">privacy</a></label>
    </div>
    <button type="submit" class="btn btn-outline-secondary">Submit</button>
    <button type="reset" class="btn btn-outline-secondary">Reset</button>
  </form>
{% endblock %}