.panel-footer i.glyphicon { display: inline; font-size: 1.125em; cursor: pointer; }
.panel-footer i.glyphicon-thumbs-up { color: #1abc9c; }
.panel-footer i.glyphicon-thumbs-down { color: #e74c3c; padding-left: 5px; }
.panel-footer div {width: 15px; display: inline; color: #34495e; text-align: center; background-color: transparent !important;}	
